<h2>Contact Us!</h2>

<address>
    204 Muncie Lake Rd<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    231.883.3825
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@weloveinstruments.com</a><br />
    <strong>Questions:</strong> <a href="mailto:Marketing@example.com">qanda@weloveinstruments.com</a>
</address>